.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 76px;
}

.menu {
    height: 60px;
    margin-left: 127px;
    margin-top: 2vh;
}

.menu__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: #5222D0;
    text-decoration: none;
    padding-right: 40px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    padding-left: 125px;
}

.virtual-reality {
    display: flex;
    margin-bottom: -80px;
}

.virtual-reality__about {
    display: flex;
    flex-direction: column;
    width: 542px;
    margin-left: 127px;
}

.virtual-reality__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.virtual-reality__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
}

.virtual-reality__button-buy {
    padding-top: 20px;
}

.virtual-reality__img {
    width: 783px;
    height: 724.31px;
    object-fit: cover;
}

.opportunities {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-top: 40px;
    max-width: 1300px;
    margin-left: 125px;
}

.opportunities__column {
    flex: 0 0 33.333%;
}

.opportunities__item {
    width: 365px;
    padding-bottom: 40px;
}

.opportunities__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
}

.opportunities__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    padding-top: 10px;
}

.opportunities__form {
    background-color: #EC615B;
    height: 233px;
    margin: 0 auto;
    padding: 15px;
    color: aliceblue;
    font-family: 'Montserrat';
    font-weight: 600;
}

.opportunities__button {
    display: block;
    padding-top: 20px;
}

#mail {
    height: 50px;
    width: 323px;
}