body {
    margin: 0;
    padding: 0;
    width: 80%;
}

header {
    height: 80px;
    background-color: #ff9900;
    padding: 0;
    margin: 0;
}

.logo {
    float: left;
    margin: 20px 0 0 30px;
    text-align: center;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    /*логотип слева*/
}

.menu {
    float: right;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    /*меню*/
}

.contentleft {
    float: left;
    width: 60%;
    padding: 0;
    margin: 0;
    /*блок под header слева*/

}

.contentright {
    float: right;
    width: 40%;
    padding: 0px;
    /*блок под header справа*/
}

.inline {
    display: inline;
    /*прописала, чтобы меню в одной строке располагалось*/
}

ul li a {
    padding: 0 40px 0 0;
    /*расстояние между элементами меню*/
}

.a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.a:hover {
    text-decoration: underline;
}

#name {
    color: #ffffff;
}

#fotoright {
    float: right;
    padding: 2vh;
    width: 50%;
}

#fotoleft {
    width: 80%;
    padding: 0;
    margin: 0;
}

#list {
    font-size: large;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    padding: 40px 0 0 0;
    line-height: 2.9;
}

.button {
    border-color: #000000;
    border-radius: 5px;
    background: #ffffff;
    color: #000000;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background: #ff9900;
    transition: 1.5s;
}

.form {
    float: right;
    margin: 0 60px 0 0;
}

.footer {
    float: left;
}